In [1]:
import numpy as np
import pandas as pd
import plotly.graph_objs as go

In [2]:
# def add_conv_mappings(input_map_num, k, map_i, map_j, inp_N, conv_N, map_N, null_ind, map_to_unique, map_to_unique_width, map_from_unique, map_from_unique_width){
#   int input_focus_row = 2 * map_i;
#   int input_focus_col = 2 * map_j;
#   int mid = conv_N / 2;
#   int input_connection_ind, output_connection_ind, weight_ind;
#   for (int kern_i = -mid; kern_i <= mid; kern_i++){
#     for (int kern_j = -mid; kern_j <= mid; kern_j++){
#       if ((input_focus_row + kern_i < 0) || (input_focus_row + kern_i >= inp_N) || (input_focus_col + kern_j < 0) || (input_focus_col + kern_i >= inp_N)){
#         input_connection_ind = null_ind;
#       }
#       else{
#         input_connection_ind = input_map_num * (inp_N * inp_N) + inp_N * (input_focus_row + kern_i) + (input_focus_col + kern_j);
#       }
#       output_connection_ind = k * (map_N * map_N) + map_N * map_i + map_j;
#       weight_ind = k * (conv_N * conv_N) + conv_N * (kern_i + mid) + (kern_j + mid);
#       map_to_unique[map_to_unique_width * output_connection_ind + input_connection_ind] = weight_ind;
#       for (int insert_ind = 0; insert_ind < map_from_unique_width; insert_ind++){
#         if (map_from_unique[map_from_unique_width * weight_ind + insert_ind] == -1){
#           map_from_unique[map_from_unique_width * weight_ind + insert_ind] = map_to_unique_width * output_connection_ind + input_connection_ind;
#           break;
#         }
#       }
#     }
#   }
# }

In [3]:
# h1_full_to_unique = np.fromfile("h1_full_to_unique", dtype=np.int32)
# h1_unique_to_full = np.fromfile("h1_unique_to_full", dtype=np.int32)
h1_full_to_unique = np.fromfile("live_h1_full_to_unique", dtype=np.int32)
h1_unique_to_full = np.fromfile("live_h1_unique_to_full", dtype=np.int32)

In [4]:
# h2_full_to_unique = np.fromfile("h2_full_to_unique", dtype=np.int32)
# h2_unique_to_full = np.fromfile("h2_unique_to_full", dtype=np.int32)
h2_full_to_unique = np.fromfile("live_h2_full_to_unique", dtype=np.int32)
h2_unique_to_full = np.fromfile("live_h2_unique_to_full", dtype=np.int32)

In [5]:
h1_full_to_unique_shaped = np.reshape(h1_full_to_unique, (769, 257))
h1_unique_to_full_shaped = np.reshape(h1_unique_to_full, (300, 64))

In [6]:
h2_full_to_unique_shaped = np.reshape(h2_full_to_unique, (192, 769))
h2_unique_to_full_shaped = np.reshape(h2_unique_to_full, (2400, 16))

In [7]:
h1_full_to_unique_df = pd.DataFrame(h1_full_to_unique_shaped)
h1_unique_to_full_df = pd.DataFrame(h1_unique_to_full_shaped)

In [8]:
h2_full_to_unique_df = pd.DataFrame(h2_full_to_unique_shaped)
h2_unique_to_full_df = pd.DataFrame(h2_unique_to_full_shaped)

In [9]:
h1_full_to_unique_df

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,12,13,14,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,10,11,12,13,14,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,10,11,12,13,14,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,10,11,12,13,14,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,10,11,12,13,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,291,292,293,294,-1,-1,-1,-1,-1,-1
765,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,290,291,292,293,294,-1,-1,-1,-1
766,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,290,291,292,293,294,-1,-1
767,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,290,291,292,293,294
768,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [10]:
h1_unique_to_full_df

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,2313,2572,2831,3090,3349,3608,3867,4401,4660,4919,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,2314,2573,2832,3091,3350,3609,3868,4402,4661,4920,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,2056,2315,2574,2833,3092,3351,3610,3869,4144,4403,...,16138,16397,-1,-1,-1,-1,-1,-1,-1,-1
3,2057,2316,2575,2834,3093,3352,3611,3870,4145,4404,...,16139,16398,-1,-1,-1,-1,-1,-1,-1,-1
4,2058,2317,2576,2835,3094,3353,3612,3871,4146,4405,...,16140,16399,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,181217,181476,181735,181994,182253,182512,183305,183564,183823,184082,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
296,181218,181477,181736,181995,182254,182513,183306,183565,183824,184083,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
297,180960,181219,181478,181737,181996,182255,182514,183048,183307,183566,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
298,180961,181220,181479,181738,181997,182256,182515,183049,183308,183567,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
299,180962,181221,181480,181739,181998,182257,182516,183050,183309,183568,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [11]:
h2_full_to_unique_df

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
0,12,13,14,-1,-1,-1,-1,-1,17,18,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,10,11,12,13,14,-1,-1,-1,15,16,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,10,11,12,13,14,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,10,11,12,13,14,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,2,3,4,-1,-1,-1,-1,-1,7,8,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
188,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,2217,2218,2219,-1,-1,-1,-1,-1,-1
189,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,2215,2216,2217,2218,2219,-1,-1,-1,-1
190,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,2215,2216,2217,2218,2219,-1,-1
191,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,2213,2214,-1,-1,-1,2215,2216,2217,2218,2219

In [12]:
h2_unique_to_full_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,3845,4616,5387,6937,7708,8479,10029,10800,11571,-1,-1,-1,-1,-1,-1,-1
1,3846,4617,5388,6938,7709,8480,10030,10801,11572,-1,-1,-1,-1,-1,-1,-1
2,3076,3847,4618,5389,6168,6939,7710,8481,9260,10031,10802,11573,-1,-1,-1,-1
3,3077,3848,4619,5390,6169,6940,7711,8482,9261,10032,10803,11574,-1,-1,-1,-1
4,3078,3849,4620,5391,6170,6941,7712,8483,9262,10033,10804,11575,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,136769,137540,139861,140632,142953,143724,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2396,136770,137541,139862,140633,142954,143725,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2397,136000,136771,137542,139092,139863,140634,142184,142955,143726,-1,-1,-1,-1,-1,-1,-1
2398,136001,136772,137543,139093,139864,140635,142185,142956,143727,-1,-1,-1,-1,-1,-1,-1
2399,136002,136773,137544,139094,139865,140636,142186,142957,143728,-1,-1,-1,-1,-1,-1,-1

In [58]:
weight_ind_targ = 0
my_shared_weights = []
for i in range(192):
    for j in range(769):
        if (h2_full_to_unique_shaped[i, j] == weight_ind_targ):
            my_shared_weights.append((i, j))

In [59]:
my_shared_weights

[(5, 0),
 (6, 2),
 (7, 4),
 (9, 16),
 (10, 18),
 (11, 20),
 (13, 32),
 (14, 34),
 (15, 36)]

In [60]:
proper_weights = {i: [] for i in range(2400)}
for i in range(192):
    for j in range(769):
        if (h2_full_to_unique_shaped[i, j] != -1):
            proper_weights[h2_full_to_unique_shaped[i, j]].append((i, j))

In [61]:
weight_inds_for_output = {i: [] for i in range(192)}
for i in range(192):
    for j in range(769):
        if (h2_full_to_unique_shaped[i, j] != -1):
            weight_inds_for_output[i].append(h2_full_to_unique_shaped[i, j])

In [64]:
len(weight_inds_for_output[1])

120

In [65]:
proper_weights[0]

[(5, 0),
 (6, 2),
 (7, 4),
 (9, 16),
 (10, 18),
 (11, 20),
 (13, 32),
 (14, 34),
 (15, 36)]

In [66]:
for i in proper_weights[0]:
    print(i[0] * 769 + i[1])

3845
4616
5387
6937
7708
8479
10029
10800
11571

In [67]:
w_h1 = np.fromfile("live_w_h1", dtype=np.float32)
w_h1_full = np.fromfile("live_w_h1_full", dtype=np.float32)

In [68]:
w_h1_shaped = np.reshape(w_h1, (300, 1))
w_h1_full_shaped = np.reshape(w_h1_full, (769, 257))

In [69]:
w_h1_df = pd.DataFrame(w_h1_shaped)
w_h1_full_df = pd.DataFrame(w_h1_full_shaped)

In [74]:
w_h1_full_df

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,-0.038491,-0.010446,0.020953,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.276227
1,0.023317,0.077201,-0.038491,-0.010446,0.020953,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.035926
2,0.000000,0.000000,0.023317,0.077201,-0.038491,-0.010446,0.020953,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.035926
3,0.000000,0.000000,0.000000,0.000000,0.023317,0.077201,-0.038491,-0.010446,0.020953,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.035926
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023317,0.077201,-0.038491,-0.010446,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.035926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.091095,0.073633,0.051527,-0.045845,0.000000,0.000000,0.000000,0.000000,0.000000,0.102442
765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.081656,0.091095,0.073633,0.051527,-0.045845,0.000000,0.000000,0.000000,0.102442
766,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.081656,0.091095,0.073633,0.051527,-0.045845,0.000000,0.102442
767,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.081656,0.091095,0.073633,0.051527,0.102442
768,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [70]:
w_h2 = np.fromfile("live_w_h2", dtype=np.float32)
w_h2_full = np.fromfile("live_w_h2_full", dtype=np.float32)

In [71]:
w_h2_shaped = np.reshape(w_h2, (2400, 1))
w_h2_full_shaped = np.reshape(w_h2_full, (192, 769))

In [72]:
w_h2_df = pd.DataFrame(w_h2_shaped)
w_h2_full_df = pd.DataFrame(w_h2_full_shaped)

In [73]:
w_h2_full_df

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
0,0.023292,0.033009,-0.088674,0.000000,0.000000,0.000000,0.000000,0.000000,-0.043006,0.076342,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.193353
1,-0.057249,0.053844,0.023292,0.033009,-0.088674,0.000000,0.000000,0.000000,-0.073986,0.089594,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.172356
2,0.000000,0.000000,-0.057249,0.053844,0.023292,0.033009,-0.088674,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.172356
3,0.000000,0.000000,0.000000,0.000000,-0.057249,0.053844,0.023292,0.033009,-0.088674,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350015
4,0.053227,-0.018339,0.034570,0.000000,0.000000,0.000000,0.000000,0.000000,-0.010539,0.019104,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.189954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.861884
188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-0.013884,-0.093872,-0.039129,0.000000,0.000000,0.000000,0.000000,0.000000,-0.840363
189,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.047422,-0.073148,-0.013884,-0.093872,-0.039129,0.000000,0.000000,0.000000,-0.861884
190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.047422,-0.073148,-0.013884,-0.093872,-0.039129,0.000000,-0.861884
191,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.026106,-0.051497,0.000000,0.000000,0.000000,0.047422,-0.073148,-0.013884,-0.093872,-0.861884

In [36]:
h1_null_mappings = np.fromfile("h1_null_mappings", dtype=np.int32)
h2_null_mappings = np.fromfile("h2_null_mappings", dtype=np.int32)

In [37]:
h1_null_mappings_shaped = np.reshape(h1_null_mappings, (769, 25))
h2_null_mappings_shaped = np.reshape(h2_null_mappings, (192, 200))

In [38]:
h1_null_mappings_df = pd.DataFrame(h1_null_mappings_shaped)
h2_null_mappings_df = pd.DataFrame(h2_null_mappings_shaped)

In [39]:
h1_null_mappings_df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0,1,2,3,4,5,6,7,8,9,...,21,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,0,1,2,3,4,5,6,7,8,9,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,0,1,2,3,4,5,6,7,8,9,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,0,1,2,3,4,5,6,7,8,9,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,0,1,2,3,4,5,6,7,8,9,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,295,296,297,298,299,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
765,295,296,297,298,299,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
766,295,296,297,298,299,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
767,295,296,297,298,299,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
768,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [41]:
h1_null_weight_dict = {i: [] for i in range(769)}
for i in range(769):
    for j in range(25):
        if h1_null_mappings_shaped[i, j] == -1:
            break
        h1_null_weight_dict[i].append(h1_null_mappings_shaped[i, j])

In [42]:
h2_null_weight_dict = {i: [] for i in range(192)}
for i in range(192):
    for j in range(200):
        if h2_null_mappings_shaped[i, j] == -1:
            break
        h2_null_weight_dict[i].append(h2_null_mappings_shaped[i, j])

In [83]:
virt_null_weight = []
for row in range(769):
    s = 0
    for i in h1_null_weight_dict[row]:
        s += w_h1_shaped[i, 0]
    virt_null_weight.append(s)

In [87]:
h1_null_set_sizes = np.fromfile("h1_null_set_sizes", dtype=np.int32)
h2_null_set_sizes = np.fromfile("h2_null_set_sizes", dtype=np.int32)

In [88]:
h1_null_set_sizes_shaped = np.reshape(h1_null_set_sizes, (769, 1))
h2_null_set_sizes_shaped = np.reshape(h2_null_set_sizes, (192, 1))

In [89]:
h1_null_set_sizes_df = pd.DataFrame(h1_null_set_sizes_shaped)
h2_null_set_sizes_df = pd.DataFrame(h2_null_set_sizes_shaped)

In [92]:
h1_null_set_sizes_df

      0
0    16
1    10
2    10
3    10
4    10
..   ..
764   5
765   5
766   5
767   5
768   0

[769 rows x 1 columns]